<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402530652776-jrtlrlcuad85bqru0ltreila8tu1anuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402530652776-jrtlrlcuad85bqru0ltreila8tu1anuv</string>
	<key>API_KEY</key>
	<string>AIzaSyD5sp6d01T8lwFd1s4noNRzW-A-dOYm4UU</string>
	<key>GCM_SENDER_ID</key>
	<string>402530652776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushnotificationtest</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationtest-88016</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationtest-88016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402530652776:ios:2ec84e456a07fc2a13e1dd</string>
</dict>
</plist>